<ion-header>
  <ion-toolbar>
    <ion-title>
      This is a title in a header
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12]">
      <ion-col>
        {{ item }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-button fill="clear" expand="full">
            Previous
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" expand="full">
            Cancel
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" expand="full">
            Finish
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" expand="full">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>